<h2>Methods that were not run</h2><table>
<tr><td>com.mercury.test.LoginRegressionSuite.verifyValidLogin<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_001: Verifying valid login functionality</i></td></tr>
<tr><td>com.mercury.test.LoginRegressionSuite.verifyInvalidLogin<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_002: Verifying invalid login functionality</i></td></tr>
</table>