<h2>Methods that were not run</h2><table>
<tr><td>com.mercury.test.LoginRegressionSuite.verifyDataDrivenLogin<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_003: Verifying login data driven testing</i></td></tr>
<tr><td>com.mercury.test.FlightFinderRegressionSuite.verifyDefaultSelectionFlightType<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_001: Verifying default selection of flight type.</i></td></tr>
<tr><td>com.mercury.test.FlightFinderRegressionSuite.verifyDepartingFromValueSelection<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_001: Verifying default selection of flight type.</i></td></tr>
</table>