<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Mercury Tours Regression Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6fc185">  <td>19/12/21 20:12:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginRegressionSuite.browserAppLaunch()[pri:0, instance:com.mercury.test.LoginRegressionSuite@4883b407]">&gt;&gt;browserAppLaunch</td> 
<td>&nbsp;</td>  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="6fc185">  <td>19/12/21 20:12:37</td>   <td>17310</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginRegressionSuite.verifyValidLogin()[pri:0, instance:com.mercury.test.LoginRegressionSuite@4883b407]">verifyValidLogin</td> 
  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="6fc185">  <td>19/12/21 20:12:37</td>   <td>17335</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginRegressionSuite.verifyInvalidLogin()[pri:1, instance:com.mercury.test.LoginRegressionSuite@4883b407]">verifyInvalidLogin</td> 
  <td>main@230835489</td>   <td></td> </tr>
</table>
